*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.landing{
  height: 96vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/background.jpeg);
  background-size: cover;
  background-position: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.sobrenome{
  color:#72CC50;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a{
  color: White;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  cursor: pointer;
}

nav ul li a:hover{
  border-radius: 30px;
  color: #49B265;
  transition: .3s;
}

#message-button{
  border: none;
  background: #159947;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 15px;
  transition: .4s;
}

#message-button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.Profile{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin: 200px;
}

.aboutme{
  width: 30%;
}

.perfil{
  width: 300px;
  border-radius: 200px;
  margin-left: 200px;
}

.Profile h1{
  color: whitesmoke;
  text-align: center;
}

h1 span{
  color: aquamarine;
  text-decoration: underline;
  font-size: 25px;
  letter-spacing: 0.25px;
}

.nome{
  color: orange;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}

.content-divider{
  float: left;
  height: 4vh;
  width: 100%;
  background: rgb(49,143,96);
  background: linear-gradient(315deg, rgba(49,143,96,1) 0%, rgba(129,221,163,1) 55%, rgba(0,212,255,1) 100%);
}

.biografia{
  background-color: aliceblue;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.biografia p{
  margin-top: 50px;
  margin-left: 200px;
  font-size: large;
  width: 70%;
  font-size: larger;
  text-align: justify;
}

/**CARDS ------------------**/

.container-cards{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card{
  background: white;
  width: 220px;
  margin: 10px;
  border-radius: 15px;
}

.image{
  background:#72CC50;
  height: 150px;
  margin-bottom: 50px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card-1{
  background-image: url(../img/weatherbg.jpg);
}

.card h2{
  padding: 10px;
}

.card p{
  padding: 10px;
}

.card a{
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
}

.card:hover{
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

/**Curriculum -----------------**/

.curriculum{
  position: relative;
  height: fit-content;
  width: 100%;
  text-align: center;
}

.curriculum h2{
  font-size: 2.5rem;
  text-decoration:underline;
  padding-bottom: 20px;
}

.curriculum h3{
  font-size: 2rem;
  text-decoration: underline;
  padding-bottom: 60px;
}

.linkCurriculo{
  background: #23967F;
  color: azure;
  padding: 30px;
  border-radius: 20px;
  height: fit-content;
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 30px;
  text-decoration: none;
}

/** WEATHER APP ------------ **/

#weather-body{
  background: linear-gradient(180deg, #594cee 0%, #8dd0f5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hide{
  display: none;
}

.container{
  background: #5c54ed;
  box-shadow: rgba(0,0,0, .24) 0px 3px 8px;
  padding: 2rem;
  color: #fdfdfd;
  border-radius: 1rem;
}

/*form*/

.form h3{
  margin-bottom: 1rem;
}

.form-input-container{
  display: flex;
}

.form input{
  padding: .8rem;
  border: none;
  flex: 1;
  border-radius: 4px;
}

.form button{
  padding: 0.8rem;
  min-width: 50px;
  margin-left: 8px;
  background-color: #8dd0f5;
  color: #fdfdfd;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* clima */

#weather-data{
  border-top: 1px solid #fff;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

#weather-data h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

#weather-data h2 i{
  font-size: 1rem;
}

#weather-data span{
  margin: 0.6rem;
}

#country{
  height: 15px;
}

#description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}

#details-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-container #humidity{
  border-right: 1px solid #fff;
  margin: 0.6rem;
  padding: 0.6rem;
}

.weather-body-background{
  width: 100vh;
  background-size: cover;
  background-position: cover;
}










